.news {
  &_date {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
  }

  &_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &_loader {
    margin-top: 20px;
  }
}
