@use '../../styles/variables.scss' as variables;

.sidebar {
  &_closeBtn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: variables.$bg-color;
    border: none;
    cursor: pointer;

    @media (max-width: 870px) {
      display: block;
    }
  }

  @media (max-width: 870px) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 10;
    transition: left 0.3s ease-in-out;
    background-color: variables.$bg-color;
    padding: 145px 20px;
    &.open {
      left: 0;
    }
  }

  &_list {
    display: flex;
    gap: 30px;

    @media (max-width: 870px) {
      flex-direction: column;
    }
  }
}
