@use '../../styles/variables.scss' as variables;

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  transition: left 0.3s ease-in-out;
  background-color: variables.$bg-color;
  padding: 145px 20px;
  &.open {
    left: 0;
  }

  &_closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: variables.$bg-color;
    border: none;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

}
